@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600);

.col-head-media {}

.col-head-media h1 {
  padding: 7.5px 0 15px 0;
}

.col-media-pg {
  overflow: hidden;
  padding: 0;
  border: 3px solid transparent;
  border-radius: 2px;

  
}

@media (min-width:1200px){
  .col-media-pg {
  min-width:365px;
  max-width:385px;
  }
  .img-media-pg{
  min-height: 365px;
  }
}

.col-media-pg:focus {
  outline: dashed 1px #444;
  outline-offset: -1px !important;
    transition: 0.2s ease all;
}

.col-media-pg:after {
  content: attr(title);
  position: absolute;
  z-index:11 !important;
  top: 0;
  width: 100%;
  padding: 0.5vw;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
    transition: 0.3s ease all;
}

.col-media-pg:hover:after,
.col-media-pg:focus:after {
  opacity: 1;
    transition: 0.2s ease all !important;
}

.img-media-pg {
  position:relative;
  display: block !important;
  z-index:10 !important;
  width: auto !important;
  background:#f5f5f5;
    transition: 0.2s ease-out all;
}

.col-media-pg:hover .img-media-pg,
.col-media-pg:focus .img-media-pg {
 -webkit-filter: brightness(113%);
  filter: brightness(113%);
    transition: 0.2s ease all;
}

@media (max-width: 767px) {
  .col-head-media h2 {
    padding: 7.5px 2.5px 0px 2.5px;
  }
}


/* --- Image Enlarge Modal --- */

.modal-img-enlarge .modal-dialog .modal-content{
   box-shadow: 1px 0 3px 2px rgba(0,0,0,0.1) !important;
}

.modal-img-enlarge .modal-body{
   padding:0;
   overflow:hidden;
}

.modal-img-enlarge .modal-body img{
  position:relative;
  z-index:4;
  width:100%;
  height:auto;
}

#imagelowres{
position:absolute; 
z-index:2;
top:0; 
  left:0;
  -webkit-filter: blur(2.5px); 
  filter: blur(2.5px);
/*visibility:hidden;*/
}


#loading-gif{
position: absolute; 
top:42.5%; 
   left:0;
width:15%; 
margin:0 42.5%; 
z-index:3;
}


.modal-dialog{
  background: #2a2826;
}
.modal-content{
  background: transparent !important;
}

@media (max-width:767px){
  .modal-body{
    min-height:100px;
   }
   
   #loading-gif{
    top:40%;
    width:20%; 
    margin:0 40%; 
   }
   
 }

.modal-close{
  position:relative;
  z-index: 5 !important;
  }

.modal-close:hover,
.modal-close:focus{
  outline:none !important;
  }

.modal-close span{
  position:absolute;
  z-index: 5 !important;
  top:15px;
  right:15px;
  height:30px;
  width:30px;
  color:rgba(255,255,255,.7);
  line-height:28px;
  text-align:center;
  font-size: 26px;
  font-weight:300;
  padding:0 0 0 0px !important;
  border: 0px solid rgba(0,0,0,0);
  border-radius:50%;
  background:rgba(0,0,0,0.4);
  text-shadow: 0px 0px 3px rgba(0,0,0,0.0);
  box-shadow:0 0 0px 1px rgba(255,255,255,.4);
  transition: .3s ease all;
}

.modal-close span:hover, 
.modal-close span:focus{
  border:0px solid rgba(0,0,0,0.6);
  color:#444;
  text-shadow: 0px 0px 5px rgba(0,0,0,0);
  box-shadow:0 0 2px 0 rgba(0,0,0,.5);
  background:rgba(255,255,255,0.9);
  border-radius:50%;
  transition: .3s ease all;
}






