@charset "utf-8";

/* CSS Document */

.banner-title-serv h1{
  display:inline-block;
  width:240px;
 }
 
.banner-title-serv a{
  display:inline-block;
  margin-left:10px;
  color:#fff;
 }
 
.banner-title-serv a b{
  text-decoration:underline;
 } 
 
 
/*-------------------- Introduction Section --------------------*/

.icon-serv {}

.img-icon-serv {
  display: block;
  width:140px;
  margin: 30px auto 0 auto;
  padding: 0;
}

.intro-serv {
  padding: 22.5px 7.5px 15px 7.5px;
}

.intro-serv h1,  
.intro-serv h2,
.intro-serv p,
.intro-serv a {
  text-align:center !important;}

.intro-serv h1{
  margin-top:0;
  }

.intro-serv a {
   display:block;
   margin:15px 0 0 0;
   font-size:16px;
   font-weight:500;
   text-decoration:underline;
 }
 
.intro-serv a:hover,
.intro-serv a:focus{
   text-decoration:none;
 }

.opener-serv {
  padding: 30px 15px 30px 15px;
}

.opener-serv h2{
  margin:15px 0;
  }

.col-anch-serv{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
  padding:15px 0 7.5px 0;
}
  
.anch-serv{
  display:inline-block;
  margin:0 0vw 15px 0vw;
  padding:0px 20px 0px 20px;
  /*background:#466A9B;*/
  color:#555;
  border-right: 2px solid #466A9B;
  border-radius:0px;
  font-size:18px;
  line-height:18px;
  font-weight:500;
  text-align:center;
  transition:.08s ease all;
}

.anch-serv:last-child{
  border:none;
}

.anch-serv:hover,
.anch-serv:focus{
  color:#466A9B;
  background:#fff;
  text-decoration:underline;
  transition:.08s ease all;
}

@media (max-width:991px) {
  .img-icon-serv {
    width: 13vw;
    min-width: 100px;
    margin: 30px auto 0 auto;
    float: none;
  }
  
  .intro-serv h2,
  .intro-serv p {
    text-align: center;
  }
  
  .opener-serv {
    padding: 15px 15px;
  }
}

@media (max-width:767px) {
  .banner-title-serv h1{
    width:230px;
   }

  .intro-serv {
    padding: 15px 7.5px 7.5px 7.5px;
   }
   
  .anch-serv{
    padding:0px 15px 0px 15px;
    font-size:16px;
    line-height:18px;
  }

  .opener-serv {
    padding: 15px 0px;
  }  
}

@media (max-width:479px) {
  .banner-title-serv h1{
    width:200px;
   }
  .anch-serv{
    padding:0px 10px 0px 10px;
    font-size:14px;
    border-right: 1px solid #466A9B;
  }
}



/*-------------------- Service Blocks --------------------*/


/*------- Service Block Row/Container -------*/

.row-serv{
  margin:0 auto;
  padding:45px 10px;
  border-bottom:1px solid rgba(0,0,0,.08);
  }

/*------- Service Block Head -------*/

.head-serv h4,
.head-serv h3 {
  text-align: left;
  padding: 0px 0 0px 0px;
  margin:0px 0 5px 0;
}
.head-serv h4 b,
.head-serv h3 b {
  color:#466A9B;
}

.p-sub-head{
  font-size:18px;
  text-align: left;
  font-weight: 400;
  padding: 0px 0 10px 0px;
}


/*------- Service Block Body -------*/

.body-serv {}

.body-serv ul {
  padding:0;
  margin:15px 0 0 3px;
  border-left:3px solid #44AA6D;
  }
.body-serv-a ul {
  padding:0;
  margin:15px 0 0 3px;
  border-left:3px solid #466A9B;
  }
  
.body-serv li {
  font-size:16px;
  list-style:none;
  padding:7.5px 5px 7.5px 15px;
}

  .body-serv li:first-child {
    padding:0px 5px 7.5px 15px;
  }
  
  .body-serv li:last-child {
    padding:7.5px 5px 0px 15px;
  }



/*------- Service Block List Callout -------*/

.list-serv {
  margin-top: 10px;
  padding:0 15px 0 0;
}

.list-serv-inner{
  border-radius:4px;
  background:#fafafa;
  padding: 15px 22.5px 15px 22.5px;
  }

.list-serv-inner h4 {
  font-size:18px;
  padding: 0;
  font-weight:500;
}

.list-serv-inner ul {
  -moz-column-count: auto;
  -moz-column-gap: 5px;
  -webkit-column-count: auto;
  -webkit-column-gap: 5px;
  column-count: auto;
  column-gap: 5px;
  -webkit-column-width: 250px;
  /* Chrome, Safari, Opera */
  column-width: 250px;
}

.list-serv-inner ul li {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size:16px;
}

@media (max-width:991px) {
  .list-serv {
    margin-left: 3.8%;
    margin-top: 30px;
    padding:0 ;
  }
}

@media (max-width:767px) {
  .row-serv{padding:45px 0;}
  .head-serv,
  .body-serv {
    padding-left: 0;
    padding-right:0;
  }
  .body-serv p {
    padding-bottom: 4px;
  }
  
  .p-sub-head{
     font-size: 15px;
    }

  .body-serv li {
    font-size: 14px;
    padding:5px 5px 5px 15px;
   }

  .body-serv li:first-child {
    padding:0px 5px 5px 15px;
  }
  
  .body-serv li:last-child {
    padding:5px 5px 0px 15px;
  }
  
  .list-serv {
    margin-left: 0 !important;
    padding:0 15px;
  }
    
  .list-serv-inner{
    padding: 15px 1vw 15px 3vw;
  }
  .list-serv-inner h4 {
  font-size:16px;
  }

  .list-serv-inner ul {
   padding-left:10px !important;
  }
  .list-serv-inner ul li{ 
   font-size:14px;
   }
}

@media (max-width:479px) {
  .list-serv {
    margin-left: 0 !important;
    padding:0 7.5px;
  }  

}